@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Regular.otf") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "MADE Bon Voyage";
  src: url("../fonts/made-bon-voyage-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "JulesColossal-Light";
  src: url("../fonts/JulesColossal-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
  color: #828282;
  font-family: "Now", sans-serif;
  font-weight: 300;
  margin-top: 4.7em;
}

/*text classes*/
.text-bold {
  font-weight: 500;
}

/*Navbar*/
.navbar {
  box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  font-size: 13px;
  font-weight: 500;
  padding: 3px;
}

.dropdown-toggle::after {
  color: #7D9693;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #AF831B;
}

.navbar-collapse {
  justify-content: space-around;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  margin-right: 32px;
}

.navbar-brand:active {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.dropdown-item:active {
  background-color: #7D9693;
}

.dropdown-menu {
  text-align: left;
  font-size: 13px;
  border-radius: 0;
  border: 0;
  box-shadow: 2px 2px 18px -6px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
  color: #828282;
  font-weight: 500;
}

.bg-pink {
  background-color: #FFFBF9;
  height: 90vh;
  padding-top: 5rem;
  overflow-x: hidden;
  margin-bottom: 10rem;
}

.img-home {
  background-image: url(../img/img-paty.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  height: 30rem;
}

.container-text-home {
  margin: auto;
}

.container-text-home h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: black;
  font-size: 4rem;
  width: 80%;
}

/*Cards*/
.margin-card {
  margin-right: 2rem;
}

.box-cards-home {
  position: relative;
}

.box-cards-home .row {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14rem;
}

.bg-pink-cards {
  background-color: #FFFBF9;
  margin-top: 34rem;
  height: 20rem;
  position: absolute;
  top: -29rem;
}

.tarjeta-one {
  position: relative;
  transform-style: preserve-3d;
  height: 30rem;
}

.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.atras {
  display: none;
}

.adelante h1 {
  width: 70%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 2rem;
}

.atras h1, .atras-two h1, .atras-three h1 {
  width: 60%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 2rem;
}

.atras-three h5 {
  width: 60%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 1rem;
}

.atras-two, .atras-three {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.atras-two, .atras-three {
  display: none;
}

/*card-01*/
.img-front-card-01 {
  background-image: url(../img/card-home-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-back-card-01 {
  background-image: url(../img/card-home-01-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*card-02*/
.img-front-card-02 {
  background-image: url(../img/card-home-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-back-card-02 {
  background-image: url(../img/card-home-02-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*card-03*/
.img-front-card-03 {
  background-image: url(../img/card-home-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-back-card-03 {
  background-image: url(../img/card-home-03-back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button-rounded {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 50px;
  padding: 1rem 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  width: 70%;
}
.button-rounded:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

/***Testimonios***/
.wrapper {
  width: 100%;
  background: #FFFBF9;
  padding: 40px 0 1px 0;
  position: relative;
  margin-top: 22rem;
  height: 18rem;
}

.ssslide img {
  margin: auto !important;
}

.slider-testimonial {
  width: 85%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  bottom: 8rem;
}

.testimonial-client {
  margin-bottom: 15px;
}

.testimonial-client img {
  width: 10rem;
  position: absolute;
  margin: auto;
}

.client-name {
  text-align: center;
  color: #A4798D;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 1.5rem;
}

.testimonial-text {
  padding: 71px 60px 30px 60px;
  color: black;
  position: relative;
  top: -65px;
  width: 80%;
  margin: 0 auto;
}

.testimonial-text:first-child {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.testimonial-text p {
  margin: auto;
  text-align: center;
  width: 90%;
}

.sssnext, .sssprev {
  opacity: 50%;
}

/*Contacto*/
.bg-contactame {
  background-color: #7D9693;
  padding: 4rem 0;
}

.bg-contactame h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.text-contact {
  font-size: 1.2rem;
  margin-bottom: 3rem !important;
  margin-top: 1.3rem;
  margin: auto;
}

.wrapper-input {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.wrapper-input div {
  width: 20%;
  margin: 0 2rem;
}

.wrapper-input .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  border-radius: 0;
  margin-top: 1rem;
  overflow-y: hidden;
}

.wrapper-input .form-control::-moz-placeholder {
  color: white !important;
  font-size: 1rem;
}

.wrapper-input .form-control:-ms-input-placeholder {
  color: white !important;
  font-size: 1rem;
}

.wrapper-input .form-control::placeholder {
  color: white !important;
  font-size: 1rem;
}

/* IE 10+ */
.wrapper-input .form-control:-ms-input-placeholder {
  color: white;
  font-size: 1rem;
}

/* WebKit */
.wrapper-input .form-control::-webkit-input-placeholder {
  color: white;
  font-size: 1rem;
}

/* Firefox 19+ */
.wrapper-input .form-control::-moz-placeholder {
  color: white;
  font-size: 1rem;
}

textarea.form-control {
  height: 1rem;
  padding-bottom: 2.1rem;
}

.btn-send {
  text-decoration: none;
  color: #71726D;
  background-color: white;
  border: none;
  border-radius: 30px 0px;
  padding: 14px 80px;
  margin-top: 3rem;
}
.btn-send:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.mail-sent {
  background-color: white;
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
}

.mail-sent p {
  width: 100%;
  color: #AF831B;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 0;
}

/*Footer*/
.bg-footer {
  background-color: #D9E1E4;
  height: 15rem;
  padding: 3rem 2rem;
}

.bg-footer a {
  text-decoration: none;
  color: #614651;
}
.bg-footer a:hover {
  color: #AF831B;
}

.rrss-footer {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.rrss-footer .icon-instagram, .icon-facebook {
  margin-right: 0.5rem;
}

.link-footer {
  margin-right: 1.5rem;
}

.box-two-footer {
  margin-bottom: 1.5rem;
}

.box-two-footer a, .cpr {
  font-size: 0.9rem;
}

.cpr {
  margin-top: 1.5rem;
}

/*Sobre mi*/
.container-sobremi {
  margin: 4rem 0;
}

.bg-sobreMi {
  background-image: url(../img/img-sobre-mi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
}

.container-text-sobreMi {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 90vh;
}

.container-text-sobreMi h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 4rem;
  width: 50%;
  padding-left: 2rem;
}

.img-sobremi {
  width: 70%;
}

.container-sobremi div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-sobremi div:nth-child(2) {
  width: 40%;
}

/*Tarjetas SobreMi*/
.contenedor-tarjetas-padre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 2rem 0;
}
.contenedor-tarjetas-padre ::-webkit-scrollbar {
  display: none;
}

.contenedor-tarjetas {
  width: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36.5rem;
}

.tarjeta {
  height: 380px;
  width: auto;
  overflow: hidden;
  margin: auto;
  padding: 10px 20px;
  border-radius: 2%;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  /*background: #f9f9f9;*/
  background: linear-gradient(-135deg, #FFFBF9, #D9E1E4);
}

.tarjeta-encabezado img {
  position: relative;
  border-radius: 50%;
  display: block;
  height: 160px;
  width: 160px;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px auto;
  transition: all 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.tarjeta-encabezado h1 {
  color: #AF831B;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 1.5rem;
}

.tarjeta-contenido .agrandar {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: black;
}

.tarjeta-contenido ul {
  padding-left: 1rem;
}

.botones {
  border-radius: 50px;
  padding: 0.3rem 2rem;
  border: none;
  margin-top: 1rem;
}
.botones:hover {
  background-color: #7D9693;
  color: white;
  border: none;
}

.box-sobreMi {
  min-width: 270px;
  max-width: 300px;
}

.desplazar {
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateY(-45px);
}

.agrandar {
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s ease;
}

.tarjeta:hover .agrandar {
  transform: scale(1);
  opacity: 1;
}

.tarjeta:hover .desplazar {
  transform: translateY(0px);
  opacity: 1;
}

/*Mis Certificaciones*/
.accordion-button {
  margin: auto;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 2.5rem;
  background-color: #FFFBF9;
  justify-content: center;
  padding: 5rem 0;
}

.accordion-body {
  background-color: #FFFBF9;
}

.accordion-button:not(.collapsed) {
  background-color: #FFFBF9;
  color: black;
  box-shadow: none;
}

.accordion-button:focus {
  border-color: #FFFBF9;
  box-shadow: none;
}

.accordion-button::after {
  margin-left: 2rem;
}

.button-aval {
  background-color: white;
  border: 1px solid black;
  padding: 0.5rem 4rem;
  border-radius: 30px 0px;
  margin-bottom: 2rem;
}
.button-aval:hover {
  background-color: #D9E1E4;
  color: #614651;
}

.img-certificacion {
  width: 100%;
}

.modal-dialog {
  margin-top: 9rem;
}

.box-certificaciones {
  background-color: #FFFBF9;
}

.box-left h2, .box-right h2 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 1.3rem;
  width: 70%;
}

.box-left {
  text-align: right;
}

.flex-box-left {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
}

.flex-box-right {
  display: flex;
  justify-content: start;
}

.circle {
  width: 0.4rem;
  height: 0.4rem;
  background-color: black;
  border-radius: 50px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.btn-left {
  margin-right: 1.8rem;
}

.btn-right {
  margin-left: 1.8rem;
}

/*Facilitadora de Consciencia y Energía*/
.box-facilitadora {
  background-color: #7D9693;
  padding: 4rem 0;
}

.box-facilitadora h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 3rem;
}

.container-pill {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill {
  background-color: white;
  border-radius: 50px;
  color: black;
  text-align: center;
  padding: 1rem 1rem;
  width: 15%;
  margin-right: 1rem;
}

.box-grafico {
  padding: 3rem 0 8rem 0;
}

.box-grafico h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #7D9693;
  font-size: 1.7rem;
  margin: 8rem auto;
  width: 30%;
  text-align: center;
}

.box-image-sobreMi {
  position: absolute;
  left: 38%;
}

.img-paty-two {
  width: 40%;
}

.container-pill-two {
  margin-left: 11rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box-pill {
  position: relative;
  margin-bottom: 1.5em;
  padding: 0;
  margin-right: 15rem;
}

.hover, .actived {
  color: white;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 40px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.actived {
  background-color: #7D9693;
  font-size: 18px;
  font-weight: 800;
}
.actived:hover {
  opacity: 0;
}

.actived p {
  margin-bottom: 0;
}

.hover {
  font-weight: 600;
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: #AF831B;
  border-radius: 1px solid black;
}

.hover p {
  width: 90%;
  margin-bottom: 0;
  font-weight: 300;
}

/*Contactame*/
.box-contacto-sobreMi {
  background-color: #A4798D;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-contacto-sobreMi h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.box-contacto-sobreMi a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin-top: 0.5rem;
  -webkit-animation-name: vibracion;
          animation-name: vibracion;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes vibracion {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(3px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(3px, 0px);
  }
  40% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 0px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}

@keyframes vibracion {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(3px, 0px);
  }
  20% {
    transform: translate(0px, 0px);
  }
  30% {
    transform: translate(3px, 0px);
  }
  40% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(3px, 0px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(3px, 0px);
  }
  80% {
    transform: translate(0px, 0px);
  }
}
/*Cafe con Proposito*/
.container-coffee {
  margin: 10rem 0;
}

.coffee-image {
  width: 50%;
  overflow: hidden;
}

.box-coffee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
}

.box-coffee h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #7D9693;
}

.box-coffee p {
  margin: 2rem 0;
}

.btn-suscribe {
  background-color: #AF831B;
  border-radius: 30px 0px;
  padding: 1rem 2rem;
  color: white;
}
.btn-suscribe:hover {
  background-color: #7D9693;
  color: white;
}

.wrapper-input-cafe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.wrapper-input-cafe .form-control {
  color: #707070;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #707070;
  font-size: 0.8rem;
  width: auto;
  margin-top: 1rem;
}

.box-input {
  margin-right: 3rem;
  width: auto;
}

.box-input .form-control {
  padding: 0.1rem 0.75rem;
  margin-bottom: 1rem;
}

.header-cafe {
  border-bottom: none;
}

.btn-send-coffee {
  text-decoration: none;
  color: white;
  background-color: #7D9693;
  border: none;
  border-radius: 30px 0px;
  padding: 14px 80px;
  margin: auto;
  display: flex;
}
.btn-send-coffee:hover {
  color: white;
  background-color: #614651;
}

.modal-cafe {
  --bs-modal-width: 800px ;
}

.coffee-sent {
  padding: 3rem 0;
  text-align: center;
  font-weight: 400;
  margin-top: 1rem;
}

.coffee-sent p {
  width: 100%;
  color: #7D9693;
  text-decoration: underline;
  font-weight: 900;
  font-size: 1.4rem;
  margin-bottom: 0;
}

/*Cocina tus sueños*/
.container-cocina {
  background-color: #FFFBF9;
}

.cocina-image {
  width: 50%;
  overflow: hidden;
}

.box-cocina {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 90vh;
  width: 60%;
}

.box-cocina h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #7D9693;
}

.box-cocina p {
  margin: 2rem 0;
}

/*Encuentros*/
.bg-pink-proximamente {
  background-color: #FFFBF9;
  height: 90vh;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bg-pink-proximamente h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: black;
  font-size: 3rem;
}

.bg-pink-proximamente p {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

/*Certificaciones*/
.certificaciones-image {
  background-image: url(../img/img-certificaciones.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-certificaciones {
  height: 90vh;
}

.certificaciones-image {
  width: 50%;
}

.box-certificaciones-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-certificaciones-page h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #614651;
}

.box-certificaciones-page h3 {
  margin: 2rem 0;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #AF831B;
  text-align: center;
  width: 60%;
}

.btn-suscribe-barras {
  background-color: #7D9693;
  border-radius: 30px 0px;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
}
.btn-suscribe-barras:hover {
  background-color: #AF831B;
  color: white;
}

/*Mindfulness*/
.bg-green-proximamente {
  background-color: #7D9693;
  height: 90vh;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.bg-green-proximamente h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 3rem;
}

/*Pausas Conscientes*/
.bg-gold-proximamente {
  background-color: #AF831B;
  height: 90vh;
  overflow-x: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.bg-gold-proximamente h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 3rem;
}

/*Eneagramas*/
.container-eneagrama {
  height: 90vh;
}

.eneagramas-image {
  background-image: url(../img/img-eneagramas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-eneagramas {
  height: 90vh;
}

.box-eneagramas-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-eneagramas-page h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #614651;
}

.box-eneagramas-page h3 {
  margin: 2rem 0;
  color: black;
  text-align: center;
  width: 60%;
  font-size: 1.2rem;
  font-weight: 300;
}

.img-eneagramas-01 {
  width: 50%;
}

.container-text-eneagramas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-text-eneagramas p {
  width: 60%;
}

.bg-eneagrama {
  background-color: #FAF2EE;
  height: 23rem;
}

.cont-02 {
  height: 23rem;
}

.box-potencia {
  background-color: #7D9693;
  padding: 7rem 0;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  text-align: center;
}

.box-potencia h1 {
  font-size: 2rem;
  width: 45%;
  margin: auto;
}

.container-img-eneagramas {
  position: relative;
  top: -5rem;
}

/*Barras de Access*/
.container-barras {
  background-color: #FFFBF9;
}

.barras-image {
  width: 50%;
  overflow: hidden;
}

.box-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  height: 90vh;
}

.wrapper-carousel {
  width: 100%;
  background: #FFFBF9;
  padding: 40px 0 1px 0;
  position: relative;
  margin: auto;
}

.slider-carousel {
  width: 85%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  height: 15rem;
}

.carousel-text {
  padding: 15px 48px;
  color: black;
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.carousel-text > h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #614651;
  font-size: 2.3rem;
  text-align: center;
}

.carousel-text > h3 {
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.carousel-text p {
  margin: auto;
  text-align: center;
  width: 90%;
}

.sssnext, .sssprev {
  opacity: 50%;
}

/*tarjeta hover*/
.tarjeta-barras {
  position: relative;
  transform-style: preserve-3d;
  height: 30rem;
}

.tarjeta-one-barras {
  position: relative;
  transform-style: preserve-3d;
  height: 30rem;
}

.adelante-barras,
.atras-barras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.atras-barras {
  display: none;
}

.adelante-barras h1 {
  width: 70%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.atras-barras h1, .atras-two-barras h1, .atras-three-barras h1 {
  width: 60%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: black;
  font-size: 2rem;
}

.atras-three-barras h5 {
  width: 60%;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 1rem;
}

.atras-two-barras, .atras-three-barras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.atras-two-barras, .atras-three-barras {
  display: none;
}

.atras-barras p, .atras-two-barras p {
  width: 80%;
  text-align: center;
}

.img-barras {
  background-image: url(../img/img-barras-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-barras-02 {
  background-image: url(../img/img-barras-02.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-barras-03 {
  background-image: url(../img/img-barras-03.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-barras-04 {
  background-image: url(../img/img-barras-04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back-barras, .back-barras-04 {
  background-color: #D9E1E4;
  color: #614651;
}

.back-barras-02, .back-barras-03 {
  background-color: #AF831B;
}

/*Cierre barras*/
.box-cierre-barras {
  background-color: #7D9693;
  padding: 5rem 0;
  text-align: center;
}

.box-cierre-barras h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 2rem;
  width: 45%;
  margin: auto;
}

.box-cierre-barras p {
  color: white;
  font-weight: 700;
  font-size: 1.3rem;
}

/*Sucribite*/
.bg-suscribe {
  padding: 5rem 0;
}

.bg-suscribe h1 {
  color: #AF831B;
  padding-bottom: 0.5rem;
}

.text-suscribe {
  font-size: 1.2rem;
  margin-bottom: 3rem !important;
  margin-top: 1.3rem;
  margin: auto;
}

.text-suscribe span {
  font-weight: 800;
}

.wrapper-input-suscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  width: 40rem;
}

.wrapper-input-suscribe .form-control {
  color: #707070;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #707070;
  font-size: 0.8rem;
  width: 20rem;
  margin-top: 1rem;
}

/*Facelift*/
.bg-facelift {
  background-image: url(../img/img-facelift.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
}

.container-text-facelift {
  display: flex;
  align-items: flex-start;
  padding-left: 2rem;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.container-text-facelift h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: white;
  font-size: 4rem;
  width: 80%;
}

.container-text-facelift p {
  color: white;
  width: 30%;
}

.box-facelift {
  padding: 7rem 0;
}

.box-facelift h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 2rem;
  color: #AF831B;
  text-align: center;
  width: 55%;
  margin: auto;
}

.box-facelift h2 {
  color: #7D9693;
  font-weight: 700;
  text-align: center;
}

.box-facelift h3 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #A4798D;
  font-weight: 800;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}

.box-facelift-02, .banner-facelift {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-facelift-02 h3 {
  text-align: center;
  color: #A4798D;
  font-size: 1.7rem;
  width: 50%;
  margin: 0 auto 8rem;
}

.star-img {
  width: 5%;
  margin-bottom: 2rem;
}

.box-facelift p {
  color: #7D9693;
  font-size: 1.2rem;
  text-align: center;
  width: 55%;
  margin: auto;
}

.box-facelift span {
  font-weight: 700;
}

.banner-facelift {
  padding: 3rem 0;
}

.banner-facelift h3 {
  text-align: center;
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #614651;
  width: 40%;
}

.box-button-facelift {
  margin: 7rem 0;
}

.box-button-01 {
  padding: 1rem 2.5rem;
  background-color: #AF831B;
  border-radius: 50px;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
.box-button-01:hover {
  background-color: #71726D;
}

.box-button-01 a {
  color: white;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.box-button-fcl ul {
  margin-bottom: 0;
}

.banner-certificacion {
  background-color: #7D9693;
  color: white;
  padding: 5rem 0;
}

.banner-certificacion h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  text-align: center;
  margin-bottom: 3rem;
  text-align: center;
}

.banner-certificacion h3 {
  text-align: center;
}

.banner-certificacion p {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.banner-certificacion hr {
  width: 90%;
  margin: auto;
  margin-bottom: 3.5rem;
}

.listado {
  width: 40%;
  margin: auto;
}

.listado li {
  margin-bottom: 1rem;
}

.box-caja-icon {
  margin: 7rem 0;
}

.caja-icon {
  text-align: center;
}

.caja-icon h2 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  color: #AF831B;
  font-size: 1.7rem;
}

.font-small {
  font-size: 0.7rem;
}

.icon-calendar-check-o, .icon-location, .icon-banknote {
  color: #A4798D;
  font-size: 2.5rem;
  line-height: 2 !important;
  transform: scale(1);
  transition: transform 0.3s ease-in;
  background-color: white;
  padding: 1.5rem;
  border-radius: 50px;
  box-shadow: 5px 3px 10px 1px rgba(0, 0, 0, 0.2);
}

.container-scale {
  width: 30%;
  margin: auto;
  margin-bottom: 2rem;
}
.container-scale:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in;
}

/*Cards*/
.tarjetilla {
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}
.tarjetilla:hover {
  transform: scale(1.1);
  transition: 0.7s ease;
}

.card-box {
  display: flex;
  padding: 0 5rem 6rem 5rem;
}

.card-box .tarjetilla {
  width: 25rem;
  margin-right: 2rem;
}

.tarjetilla-body h1 {
  font-family: "MADE Bon Voyage", "JulesColossal-Light", Serif;
  font-size: 2rem;
  color: #AF831B;
  padding: 1.6rem 0;
  text-align: center;
}

.tarjetilla-text {
  width: 100%;
  margin-left: auto;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.tarjetilla-body span {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
  color: #7D9693;
}

/*Metodo Oneness*/
.text-oneness {
  width: 50%;
  margin: 0 auto;
}

/*Social-bar*/
.social-bar {
  position: fixed;
  right: 0;
  top: 45%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
}

.icon-whatsapp-square {
  background: #41e960;
}

.icon:first-child {
  border-radius: 1rem 0 0 1rem;
}

.icon:hover {
  color: white;
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
}