@import "variables-mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  color: #828282;
  font-family: "Now", sans-serif;
}
@media screen and (max-width: 300px) {
  /*Home*/
  .img-home{
    height: 28rem;
    width: 90%;
    margin: auto;
  }
  .container-text-home h1{
    font-size: 2.5rem;
    width: auto;
    margin-bottom: 6rem;
  }
  /*Cards*/
  .bg-pink{
    height: auto;
    margin-bottom: 0;
  }
  .box-cards-home{
    height: 82rem;
  }
  .box-cards-home .row{
    margin-top: 0;
  }
  .margin-card{
    margin-right: 0;
  }
  .atras-three h5{
    width: 60%;
  }

  /*Testimonios*/
  .wrapper{
    height: 31rem;
  }
  .testimonial-text{
    width: auto;
    padding: 71px 38px 30px 38px;
  }
  .slider-testimonial{
    width: 90%;
  }
  /*Contacto*/
  .text-contact{
    padding: 0 .9rem;
  }
  /*Footer*/
  .bg-footer{
    height: 17rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 1.8rem;
  }
  .img-sobremi{
    width: 100%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.1rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right{
    margin-left: 0;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  /*Barras de Access*/
  .barras-image{
    width: 90%;
    margin-top: 2rem;
  }
  .wrapper-carousel{
    padding: 0;
  }
  .box-carousel{
    height: 26vh;
    margin-bottom: 20rem;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .atras-barras p, .atras-two-barras p{
    width: 90%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 1rem;
  }
  .btn-send-coffee{
    width: 80%;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 48vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 2rem;
  }
  .container-text-facelift p{
    width: auto;
  }
  .container-text-facelift{
    height: 48vh;
    padding-left: .5rem;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .tarjetilla-body ul{
    padding-left: 1rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 90%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 85%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 2rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 20rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 18rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 2.5rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 301px) and (max-width: 425px) {
  /*Home*/
  .bg-pink{
    height: auto;
  }
  .container-text-home h1{
    font-size: 2.8rem;
    width: 100%;
    padding: 5rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .wrapper{
    margin-top: 11rem;
    height: 35rem;
  }
  .testimonial-text{
    padding: 71px 45px 30px 45px;
  }
  .text-contact{
    padding: 0rem 1rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 100%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right, .btn-left{
    margin-left: 0;
    margin-right: 0;
  }
  .box-left, .box-right{
    text-align: center;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-carousel{
    height: 30vh;
    margin-bottom: 7rem;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 2.5rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 90%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 48vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 2rem;
  }
  .container-text-facelift p{
    width: auto;
  }
  .container-text-facelift{
    height: 48vh;
    align-items: flex-end;
    text-align: end;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 85%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 2.8rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 20rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 25rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 2.5rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }

  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 500px) {
  /*Home*/
  .bg-pink{
    height: auto;
  }
  .container-text-home h1{
    font-size: 2.8rem;
    width: 100%;
    padding: 5rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    font-size: 2.5rem;
  }
  .wrapper{
    margin-top: 11rem;
    height: 24rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 100%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right, .btn-left{
    margin-left: 0;
    margin-right: 0;
  }
  .box-left, .box-right{
    text-align: center;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-carousel{
    height: 21vh;
    margin-bottom: 3rem;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 2.5rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 90%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 48vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 2rem;
  }
  .container-text-facelift p{
    width: auto;
  }
  .container-text-facelift{
    height: 48vh;
    align-items: flex-end;
    text-align: end;
    padding-right: .5rem;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 85%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 2.8rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 30rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 25rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 2.5rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }

  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 451px) and (max-width: 540px) {
  /*Home*/
  .bg-pink{
    height: auto;
  }
  .container-text-home h1{
    font-size: 2.8rem;
    width: 100%;
    padding: 5rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    font-size: 2.5rem;
  }
  .wrapper{
    margin-top: 11rem;
    height: 24rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 100%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right, .btn-left{
    margin-left: 0;
    margin-right: 0;
  }
  .box-left, .box-right{
    text-align: center;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }  
  /*Barras de Access*/
  .barras-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-carousel{
    height: 31vh;
    margin-bottom: 3rem;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 2.5rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 85%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  .w-button{
    width: auto;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 3rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 30rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 31rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 2.5rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }
  
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
  
}
@media screen and (min-width: 541px) and (max-width: 600px) {
  /*Home*/
  .bg-pink{
    height: auto;
  }
  .container-text-home h1{
    font-size: 2.8rem;
    width: 100%;
    padding: 5rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    font-size: 2.5rem;
  }
  .wrapper{
    margin-top: 11rem;
    height: 24rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 100%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right, .btn-left{
    margin-left: 0;
    margin-right: 0;
  }
  .box-left, .box-right{
    text-align: center;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 80%;
    margin-top: 2rem;
  }
  .box-carousel{
    height: 21vh;
    margin-bottom: 0;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 2.5rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 56vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 3rem;
  }
  .container-text-facelift p{
    width: auto;
  }
  .container-text-facelift{
    height: 56vh;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 85%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  .box-cocina h1{
    font-size: 3rem;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 3rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 30rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 35rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 3.5rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 765px) {
  /*Home*/
  .img-home{
    height: 44rem;
  }
  .bg-pink{
    height: auto;
  }
  .container-text-home h1{
    font-size: 3.8rem;
    width: 100%;
    padding: 5rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    font-size: 3.1rem;
  }
  .atras-three h5{
    width: auto;
  }
  .wrapper{
    margin-top: 11rem;
    height: 20rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 80%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 90%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .circle{
    margin: auto;
  }
  .flex-box-left, .flex-box-right{
    justify-content: center;
    flex-direction: column;
  }
  .btn-right, .btn-left{
    margin-left: 0;
    margin-right: 0;
  }
  .box-left, .box-right{
    text-align: center;
  }
  .box-left h2, .box-right h2{
    width: auto;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 80%;
    margin-top: 2rem;
  }
  .box-carousel{
    height: 25vh;
    margin-bottom: 2rem;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 3rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    padding: 14px 62px;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: column;
    width: 90%;
  }
  .wrapper-input-suscribe .form-control{
    width: 100%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: .5rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 56vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 3rem;
  }
  .container-text-facelift p{
    width: auto;
  }
  .container-text-facelift{
    height: 56vh;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .box-coffee h1{
    font-size: 3rem;
  }
  .box-coffee p{
    width: 80%;
    text-align: center;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 50%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  .box-cocina h1{
    font-size: 3rem;
  }
  /*Certificaciones*/
  .container-certificaciones{
    height: auto;
  }
  .certificaciones-image{
    width: 100%;
  }
  .box-certificaciones-page{
    height: 30rem;
  }
  .box-certificaciones-page h1{
    font-size: 4rem;
  }
  .box-certificaciones-page h3{
    width: 90%;
  }
  .certificaciones-image{
    height: 38rem;
  }
  .btn-suscribe-barras{
    text-align: center;
  }
  /*Eneagrama*/
  .container-eneagrama{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  .eneagramas-image{
    height: 44rem;
  }
  .box-eneagramas-page{
    padding: 3rem 0;
  }
  .box-eneagramas-page h1{
    font-size: 4rem;
  }
  .box-eneagramas-page h3, .box-potencia h1, .container-text-eneagramas p{
    width: 90%;
  }
  .img-eneagramas-01{
    width: 90%;
    margin-top: 3rem;
  }
  .container-text-eneagramas{
    padding-bottom: 2rem;
  }
  .bg-eneagrama{
    height: auto;
  }
  .row-eneagrama-03{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .container-text-eneagramas p{
    margin-bottom: 2rem;
  }
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 766px) and (max-width: 1000px) {
  /*Home*/
  .img-home{
    height: 24rem;
  }
  .bg-pink{
    height: auto;
    padding-bottom: 5rem;
  }
  .container-text-home h1{
    font-size: 3.8rem;
    width: 100%;
    padding: 0rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    width: 90%;
    font-size: 1.5rem;
  }
  .atras-three h5{
    width: 80%;
  }
  .wrapper{
    margin-top: 11rem;
    height: 20rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 2.5rem;
  }
  .img-sobremi{
    width: 80%;
  }
  .container-sobremi div:nth-child(2){
    width: auto;
    margin-top: 2rem;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: column;
  }
  .pill{
    width: 70%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 41rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .box-left h2, .box-right h2{
    width: 75%;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 90%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 80%;
    margin: 2rem 0;
  }
  .box-carousel{
    height: 30rem;
    margin-bottom: 0;
  }
  .wrapper-carousel{
    padding: 0;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 3rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .atras-barras ul{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: row;
    width: 80%;
  }
  .wrapper-input-suscribe .form-control{
    width: 90%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: 1rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 56vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 4rem;
  }
  .container-text-facelift{
    height: 56vh;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    flex-direction: column;
    padding: 0;
  }
  .card-box .tarjetilla{
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
  }
  /*Cafe con proposito*/
  .coffee-image{
    width: 80%;
  }
  .container-coffee{
    margin: 7rem 0 4rem 0;
  }
  .box-coffee{
    width: 100%;
    margin-top: 3rem;
  }
  .box-coffee h1{
    font-size: 3rem;
  }
  .box-coffee p{
    width: 80%;
    text-align: center;
  }
  .wrapper-input-cafe{
    flex-direction: column;
    width: 50%;
  }
  .wrapper-input-cafe .form-control{
    width: 100%;
  }
  .input-coffee{
    width: 100%;
  }
  .w-button{
    width: auto;
  }
  /*Cocina tus sueños*/
  .container-cocina{
    display: flex;
    flex-direction: column-reverse;
  }
  .cocina-image{
    width: 90%;
    margin-top: 2rem;
  }
  .box-cocina{
    height: auto;
    margin: 3rem auto;
    width: 90%;
  }
  .box-cocina h1{
    font-size: 3rem;
  }
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1254px){
  /*Sobre mi*/
  .bg-sobreMi{
    background-size: cover;
    background-position: top center;
    height: 38vh;
  }
  .container-text-sobreMi{
    height: 38vh;
  }
  .container-text-sobreMi h1{
    font-size: 4.5rem;
  }
  .img-sobremi{
    width: 80%;
  }
  .container-sobremi div:nth-child(2){
    width: 50%;
    margin-top: 2rem;
  }
  .tarjeta:hover{
    height: 600px !important;
  }
  .box-facilitadora h1{
    font-size: 2rem;
    width: 90%;
    margin: auto;
  }
  .container-pill{
    flex-direction: row;
  }
  .pill{
    width: 21%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 2rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .tarjeta-contenido .agrandar{
    margin-top: 2rem;
  }
  .accordion-button{
    font-size: 1.8rem;
  }
  .tarjeta{
    margin-bottom: 1.5rem;
  }
  .box-left h2, .box-right h2{
    width: 75%;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    left: 0;
    position: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-paty-two{
    width: 40%;
  }
  .container-pill-two{
    margin-left: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 4rem;
  }
  .box-pill{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .hover, .actived{
    width: 100%;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    width: 80%;
    margin: 2rem 0;
  }
  .box-carousel{
    height: 38rem;
    margin-bottom: 0;
  }
  .wrapper-carousel{
    padding: 0;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 3rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .atras-barras ul{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 90%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: row;
    width: 80%;
  }
  .wrapper-input-suscribe .form-control{
    width: 90%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: 1rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 56vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 4rem;
  }
  .container-text-facelift{
    height: 56vh;
  }
  .box-facelift h1{
    width: 90%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 90%;
  }
  .card-box{
    padding: 0 1rem 8rem 1rem;
  }
  .card-box .tarjetilla{
    width: 80%;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1255px) and (max-width: 1800px){
  /*Sobre mi*/
  .container-pill{
    flex-direction: row;
  }
  .pill{
    width: 21%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 2rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .box-left h2, .box-right h2{
    width: 75%;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    position: absolute;
    left: 38%;
  }
  .img-paty-two{
    width: 40%;
  }
  .container-pill-two{
    margin-left: 11rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
  .hover, .actived{
    width: 300px;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
  /*Barras de Access*/
  .barras-image{
    //width: 80%;
    margin: 2rem 0;
  }
  .box-carousel{
    height: 38rem;
    margin-bottom: 0;
  }
  .wrapper-carousel{
    padding: 0;
  }
  .carousel-text{
    width: 90%;
    padding: 15px 33px;
  }
  .slider-carousel{
    width: 100%;
  }
  .back-barras, .back-barras-03{
    background-color: $colour-text-gold;
    color: white;
  }
  .back-barras-02, .back-barras-04{
    background-color: $colour-text-light-blue;
    color: black !important;
  }
  .adelante-barras h1{
    font-size: 3rem;
  }
  .atras-barras p, .atras-two-barras p{
    width: 80%;
  }
  .atras-barras ul{
    width: 80%;
  }
  .box-cierre-barras h1{
    width: 60%;
  }
  .bg-suscribe h1{
    padding: 0 2rem;
  }
  .btn-send-coffee{
    width: auto;
    margin-top: 1rem;
  }
  .wrapper-input-suscribe{
    flex-direction: row;
    width: 50%;
  }
  .wrapper-input-suscribe .form-control{
    width: 90%;
    margin-top: .5rem;
  }
  .box-input{
    margin-right: 0;
    width: 90%;
  }
  .box-input .form-control{
    margin-bottom: 1rem;
  }
  /*Facelift*/
  .bg-facelift{
    background-position: top right;
    height: 90vh;
  }
  .container-text-facelift h1{
    width: 90%;
    font-size: 4rem;
  }
  .container-text-facelift{
    height: 90vh;
  }
  .box-facelift h1{
    width: 55%;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .box-facelift p{
    width: 55%;
  }
  .card-box{
    justify-content: center;
  }
  .card-box .tarjetilla{
    width: 21rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1801px) and (max-width: 1817px){
  /*Sobre mi*/
  .container-pill{
    flex-direction: row;
  }
  .pill{
    width: 21%;
    margin: .6rem;
  }
  .contenedor-tarjetas-padre{
    height: auto;
    margin-bottom: 2rem;
  }
  .botones{
    background-color: $colour-text-green;
    color: white;
  }
  .box-left h2, .box-right h2{
    width: 75%;
  }
  .modal-dialog{
    margin-top: 15rem;
  }
  .box-grafico h1{
    width: 90%;
    margin: 5rem auto;
  }
  .box-image-sobreMi{
    position: absolute;
    left: 41%;
  }
  .img-paty-two{
    width: 40%;
  }
  .container-pill-two{
    margin-left: 13rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
  .hover, .actived{
    width: 300px;
  }
  .box-contacto-sobreMi h1{
    width: 90%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1818px) and (max-width: 1953px){
  /*Sobre mi*/
  .box-image-sobreMi{
    position: absolute;
    left: 41%;
  }
  .img-paty-two{
    width: 40%;
  }
  .container-pill-two{
    margin-left: 18rem;
    margin-right: 3rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
}
@media screen and (min-width: 1954px) and (max-width: 1990px){
  /*Sobre mi*/
  .box-image-sobreMi{
    position: absolute;
    left: 41%;
  }
  .img-paty-two{
    width: 40%;
  }
  .container-pill-two{
    margin-left: 19rem;
    margin-right: 4rem;
    margin-top: 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
}
@media screen and (min-width: 1991px) and (max-width: 2010px){
  /*Sobre mi*/
  .box-image-sobreMi{
    position: absolute;
    left: 41%;
  }
  .img-paty-two{
    width: 50%;
  }
  .container-pill-two{
    margin-left: 20rem;
    margin-right: 5rem;
    margin-top: 13rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
  .box-grafico{
    padding: 3rem 0 15rem 0;
  }
}
@media screen and (min-width: 2011px) and (max-width: 2100px){
  /*Sobre mi*/
  .box-image-sobreMi{
    position: absolute;
    left: 41%;
  }
  .img-paty-two{
    width: 50%;
  }
  .container-pill-two{
    margin-left: 25rem;
    margin-right: 7rem;
    margin-top: 13rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .box-pill {
    position: relative;
    margin-bottom: 1.5em;
    padding: 0;
    margin-right: 15rem;
  }
  .box-grafico{
    padding: 3rem 0 15rem 0;
  }
}
@media screen and (min-width: 1001px) and (max-width: 2500px) {
  /*Home*/
  .bg-pink{
    height: auto;
    padding-bottom: 5rem;
  }
  .container-text-home h1{
    font-size: 3rem;
    width: 100%;
    padding: 0rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 9rem;
  }
  .adelante h1{
    width: 90%;
    font-size: 2rem;
  }
  .atras-three h5{
    width: 60%;
  }
  .wrapper{
    margin-top: 11rem;
    height: 18rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}
@media screen and (min-width: 2501px) {
  /*Home*/
  .bg-pink{
    height: auto;
    padding-bottom: 5rem;
    margin-bottom: 9rem;
  }
  .container-text-home h1{
    //font-size: 3rem;
    width: 70%;
    padding: 0rem .5rem;
  }
  .margin-card{
    margin-right: 0;
  }
  .box-cards-home .row{
    height: auto;
    margin-top: 0;
  }
  .bg-pink{
    margin-bottom: 0;
  }
  .adelante h1{
    width: 90%;
    font-size: 2rem;
  }
  .atras-three h5{
    width: 60%;
  }
  .wrapper{
    margin-top: 11rem;
    height: 18rem;
  }
  .testimonial-text{
    padding: 71px 30px 30px 30px;
  }
  .text-contact{
    padding: 0rem 2rem;
  }
  /*Footer*/
  .bg-footer{
    height: 18rem;
  }
}

@media screen and (max-width: 992px) {
  ///index.html///

  /*Navbar*/
  .navbar {
    position: fixed;
    background-color: white;
    padding: 14px 0;
  }
  .navbar-nav {
    align-items: flex-start;
    margin-left: 0.3em;
    margin-top: 1em;
  }
  .dropdown-toggle {
    text-align: start;
  }
  .dropdown-menu {
    text-align: start;
  }
  .nav-link {
    margin-right: 6px;
  }
  /*Proximamente*/
  .bg-gold-proximamente, .bg-green-proximamente, .bg-pink-proximamente{
    height: 75vh;
  }
  .bg-green-proximamente p{
    padding: 0 2rem;
  }
  .text-oneness{
    width: 90%;
  }
}
@media screen and (max-width: 740px) {
  /*index.html*/
  .icon-plus,
  .icon-minus {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
  }
  .icon-minus-one-card {
    margin-top: 2rem;
  }
  .icon-plus-one-card{
    position: absolute;
    bottom: 6rem;
  }
  /*card-02*/
  .icon-plus-two-card {
    position: absolute;
    bottom: 55px;
    color: white;
  }
  .icon-minus-two-card {
    margin-top: 3rem;
    color: white;
  }
  /*card-03*/
  .icon-plus-three-card {
    position: absolute;
    bottom: 55px;
    color: white;
  }
  .icon-minus-three-card {
    margin-top: 3rem;
    color: white;
  }
  .button-rounded{
    width: 83%;
  }
  .adelante h1, .atras h1, .atras-two h1, .atras-three h1{
    width: 80%;
    text-align: center;
  }
  .bg-contactame{
    padding: 5rem 0;
  }
  .wrapper-input{
    flex-direction: column;
    align-items: center;
  }
  .wrapper-input div{
    width: 85%;
  }

  /*Barras de Access*/
  .icon-plus-one,
  .icon-minus-one {
    margin-top: 1rem;
    color: $colour-text-green;
  }
  /*hover-02*/
  .icon-plus-two {
    position: absolute;
    bottom: 30px;
    color: white;
  }
  .icon-minus-two {
    color: $colour-text-green;
  }
  /*hover-03*/
  .icon-plus-three {
    margin-top: 1rem;
    color: $colour-text-green;
  }
  .icon-minus-three {
    margin-top: 3rem;
    color: $colour-text-green;
  }
  /*hover-04*/
  .icon-plus-four {
    margin-top: 1rem;
    color: $colour-text-green;
  }
  .icon-minus-four {
    margin-top: 3rem;
    color: $colour-text-green;
  }
}
/*desktop*/
@media screen and (min-width: 741px) {
  /*index.html*/
  .icon-plus,
  .icon-minus {
    display: none;
  }
  /*card-01*/
  .adelante,
  .atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .atras {
    transform: rotateY(180deg);
  }
  .tarjeta-wrap:hover .tarjeta-one {
    transform: rotateY(180deg);
  }
  /*card-02*/
  .atras-two {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    //padding-left: 5rem;
  }
  .atras-two {
    transform: rotateY(180deg);
  }
  /*card-03*/
  .atras-three {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    //padding-left: 5rem;
  }
  .atras-three {
    transform: rotateY(180deg);
  }

  /*Sobre mi*/
  .contenedor-tarjetas-padre {
    height: auto;
  }
  .bg-initiatives h1 {
    font-size: 2.5rem;
  }
  .tarjeta {
    width: auto;
    height: 308px;
  }

  /*Barras*/
  .adelante-barras,
  .atras-barras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .atras-barras {
    transform: rotateY(180deg);
  }  
  .tarjeta-wrap:hover .tarjeta-barras {
    transform: rotateY(180deg);
  }
  .tarjeta-wrap:hover .tarjeta-one-barras {
    transform: rotateY(180deg);
  }
  .atras-two-barras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    //padding-left: 5rem;
  }
  .atras-two-barras {
    transform: rotateY(180deg);
  }
  .atras-three-barras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-backface-visibility: hidden; //oculta la parte de atras cuando gira
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    //padding-left: 5rem;
  }
  .atras-three-barras {
    transform: rotateY(180deg);
  }
}
@media screen and (min-width: 769px) {
  .tarjeta {
    &:hover {
      height: 580px;
      //height: 520px;
      //width: 300px;
      width: auto;
      border-radius: 5px;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    }
  }
}
@media screen and (max-width: 992px) {
  .navbar-brand {
    display: none;
  }
  .navbar-nav {
    align-items: left;
  }
}