$colour-text-gold: #AF831B;
$colour-text-light-blue: #D9E1E4;
$colour-text-green: #7D9693;
$colour-text-grey: #71726D;
$colour-text-violet: #A4798D;
$colour-text-pink: #D4B8B5;
$colour-text-medium-pink: #ECDBD4;
$colour-text-light-pink: #FFFBF9;
$colour-text-orange: #F8C77E;
$colour-text-dark-violet: #614651;
